.Rproj.user
.Rhistory
**/*.RData
**/*.Rdata
**/*.Ruserdata
Rplot*
*.Rproj

data
old/

R/tiga/rsconnect/
R/tiga/*.tsv.gz
R/tiga/*.html
R/tiga/*.graphml
R/*.html

.runsql_my

**/__pycache__/
**/*.pyc

**/*.gz
