attrs==24.2.0
BioClients==0.2.18
certifi==2024.8.30
charset-normalizer==3.3.2
greenlet==3.1.1
idna==3.10
mysql-connector-python==9.0.0
numpy==2.1.1
pandas==2.2.3
psycopg2==2.9.9
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
scipy==1.14.1
six==1.16.0
SQLAlchemy==2.0.35
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
xml-python==0.4.3
